autom4te*.cache
stamp-h.in
config.h.in*
Makefile.in
aclocal.m4
configure
config.log
config.h
config.cache
libtool
config.status
stamp-h1
Makefile
*.pyc
docsrc/.doctrees/
docsrc/build/
.deps
.dirstamp
doc/html/
INSTALL
libsasl2.pc
man/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
.sphinx-build.stamp
libsasl2.pc
INSTALL
java/CyrusSasl/ClientFactory.class
java/CyrusSasl/GenericClient.class
java/CyrusSasl/GenericCommon.class
java/CyrusSasl/GenericServer.class
java/CyrusSasl/Sasl.class
java/CyrusSasl/SaslClient.class
java/CyrusSasl/SaslClientFactory.class
java/CyrusSasl/SaslException.class
java/CyrusSasl/SaslInputStream.class
java/CyrusSasl/SaslOutputStream.class
java/CyrusSasl/SaslServer.class
java/CyrusSasl/SaslServerFactory.class
java/CyrusSasl/SaslUtils.class
java/CyrusSasl/ServerFactory.class
java/CyrusSasl/javasasl.h
java/javax/security/auth/callback/Callback.class
java/javax/security/auth/callback/CallbackHandler.class
java/javax/security/auth/callback/NameCallback.class
java/javax/security/auth/callback/PasswordCallback.class
java/javax/security/auth/callback/RealmCallback.class
java/javax/security/auth/callback/UnsupportedCallbackException.class
.libs/
*.lo
*.la
*.stamp
*.bz2
*.gz
java/javax/security/auth/javax/
