autom4te*.cache
stamp-h.in
config.h.in*
Makefile.in
aclocal.m4
configure
config.log
config.h
config.cache
libtool
config.status
stamp-h1
Makefile
*.pyc
docsrc/.doctrees/
docsrc/build/
.deps
.dirstamp
doc/html/
INSTALL
libsasl2.pc
man/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
.sphinx-build.stamp
